/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #363636;
  --text-color: #555555;
  --text-color-light: #707070;
  --modifier-color: #ffcc01;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;

  /* Typography  */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 4rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-semi-bolder: 700;

  /* Margin */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--text-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Classnames */
.section {
  padding: 1.5rem 0;
}

.section-title {
  position: relative;

  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bolder);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: var(--mb-4);
}
.section-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  right: 50%;
  transform: translate(50%, -50%);

  top: calc(var(--h2-font-size) + var(--h2-font-size));
  text-align: center;
  background: var(--modifier-color);
}

/* Layout */
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* nav */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
  }
}

.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav-toggle {
  font-size: 1.2rem;
}

.nav-item {
  text-align: center;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--title-color);
}

.nav-icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Show Menu */
.show-menu {
  bottom: var(--header-height);
}

/* Active Link */

.active-link {
  color: var(--title-color);
}

/* Educations */

.education-data {
  gap: 0.5rem;
}

.education-title {
  font-size: var(--h3-font-size);
}

.education-studies {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education-year {
  font-size: var(--smaller-font-size);
}

/* Contact */

.contact-data {
  gap: 0.5rem;
}

.contact-title {
  font-size: var(--h3-font-size);
}

.contact-studies {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.clickIcon {
  margin-left: var(--mb-1);
  width: 34px;
  height: 34px;
  transform: translate(0, 9px);
}

/* about */
.about-description {
  min-height: 82px;
  text-align: center;
}

/* Experience */

.experience-content {
  display: flex;
}

.experience-time {
  padding-right: 1rem;
}

.experience-rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--modifier-color);
  border-radius: 50%;
}

.experience-line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--modifier-color);
  transform: translate(7px, 0);
}

.experience-data {
  gap: 0.5rem;
  min-width: 190px;
}

.experience-title {
  font-size: var(--h3-font-size);
}

.experience-company {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.experience-year {
  font-size: var(--smaller-font-size);
}

.experience-side {
  display: flex;
}

@media screen and (max-width: 968px) {
  .experience-side {
    flex-direction: column;
  }
  .experience-data {
    margin-bottom: 1.2rem;
  }
}

/* Skills */

.skills-content {
  gap: 0;
}

.skills-name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--modifier-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}

/* Profile */

.profileImg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profileImg-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: var(--text-color) solid 3px;
}

.profileTitle {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  min-height: 228px;
}

.profileTitle-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  max-width: min-content;
  line-height: calc(var(--h1-font-size) - 0.3rem);
}

.profileTitle-field {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bolder);
  color: var(--title-color);
  background-color: var(--modifier-color);
}

.profileImg .profileTitle-container {
  visibility: visible;
}

/*  media */

@media screen and (max-width: 320px) {
  .nav-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }

  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  header {
    display: none;
  }

  .side {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }

  .a-side,
  .b-side {
    padding: 0 1.5rem;
  }

  .section-title,
  .about-description,
  .experience-description {
    text-align: initial;
  }

  .a-side .section-title {
    text-align: right;
  }

  .a-side .section-title::after {
    right: auto;
    transform: translate(-100%, -50%);
  }

  .b-side .section-title {
    text-align: left;
  }
  .b-side .section-title::after {
    right: auto;
    left: 0;
    transform: translate(0, -50%);
  }

  .skills-content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .education-content {
    text-align: right;
  }

  .contact-content {
    text-align: right;
  }

  .profileImg .profileTitle-container {
    visibility: hidden;
    position: absolute;
  }

  .profileTitle {
    visibility: visible;
    position: static;
  }

  .profileImg {
    display: flex;
    justify-content: right;
  }
}
